<%- include partials/header.ejs %>
  <div class="page_title">
    <div class="container">
      <h2><%= book.title %></h2>
    </div>
  </div>
  <div class="container">
      <h3><strong>Rental Fee:</strong> <%= book.fee %></h3>
      <h3><strong>Rental Fee:</strong> <%= book.fee %></h3>
  </div>
<%- include partials/footer.ejs %>