<%- include partials/header.ejs %>
  <div class="page_title">
    <div class="container">
      <h2><%= book.title %></h2>
    </div>
  </div>
  <div class="container">
    <div class="row content">
      <div class="col-md-4">
        <h3><strong>Author:</strong> <%= book.author %></h3>
        <h3><strong>Rental Fee:</strong> <%= book.fee %></h3>
        <h3><strong>Category:</strong> <%= book.category %></h3>
        <p>
          <% if(book.available == true) { %>
            <span class="label label-success">Available</span>
          <% } else { %>  
            <span class="label label-danger">Unavailable</span>
          <% } %>
        </p><hr />
          <button href="#" class="btn btn-success borrow" data-id="<%= book._id %>">Borrow</button>
      </div>
      <div class="col-md-8">
        <h3><strong>Synopsis:</strong></h3>
        <p><%= book.synopsis %></p>
      </div>
    </div>
  </div>
<%- include partials/footer.ejs %>